name: building_web_app
on:
    push:
      branches:
      - master
      - main

jobs:
    deployment:
      runs-on: ubuntu-latest
      steps:
      - name: checkout to root directory
        uses: actions/checkout@v4

      - name: list the directory
        run: ls

          

      




    



